{
  :status 200,
  :headers {
             :date "Mon, 13 Jun 2016 21:48:26 GMT",
             :age 0,
             :server "instart/nginx",
             :vary "Accept-Encoding",
             :cache-control "private",
             :content-type "application/json; charset=utf-8",
             :access-control-allow-methods "POST, GET, OPTIONS",
             :x-instart-request-id "3254499960576069327:ZVN01-CPVNPPRY04:1465854397:69",
             :content-encoding "gzip",
             :access-control-allow-origin "*",
             :connection "keep-alive",
             :transfer-encoding "chunked",
             :access-control-allow-headers "*",
             :x-powered-by "ASP.NET",
             :set-cookie "134prd=AZQVX4YGkwqaj1tVQH0qOQ$$; Path=/"
          }
 }
